<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Regular Italic Aug 19 16, 17:58</string>
      <string>glyphs.R_egular I_talic A_ug 19 16, 17_58</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 17:55</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 17_55</string>
    </array>
    <array>
      <string>Regular Italic Aug 19 16, 17:44</string>
      <string>glyphs.R_egular I_talic A_ug 19 16, 17_44</string>
    </array>
    <array>
      <string>Dec 8 16, 17:14</string>
      <string>glyphs.D_ec 8 16, 17_14</string>
    </array>
    <array>
      <string>Dec 8 16, 17:14.background</string>
      <string>glyphs.D_ec 8 16, 17_14.background</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 18:07</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 18_07</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 11:12</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 11_12</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 16:51</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 16_51</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 18:20</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 18_20</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 11:26</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 11_26</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 11:46</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 11_46</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 11:59</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 11_59</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 17:16</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 17_16</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 11:48</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 11_48</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 17:20</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 17_20</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 17:20.background</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 17_20.background</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 16:55</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 16_55</string>
    </array>
    <array>
      <string>Dec 5 16, 12:45</string>
      <string>glyphs.D_ec 5 16, 12_45</string>
    </array>
    <array>
      <string>Regular Italic Aug 20 16, 16:34</string>
      <string>glyphs.R_egular I_talic A_ug 20 16, 16_34</string>
    </array>
    <array>
      <string>ref</string>
      <string>glyphs.ref</string>
    </array>
  </array>
</plist>
