<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>En-cy</key>
    <string>E_n-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kastroke-cy</key>
    <string>K_astroke-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pedescender-cy</key>
    <string>P_edescender-cy.glif</string>
    <key>Pemiddlehook-cy</key>
    <string>P_emiddlehook-cy.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hook-cy</key>
    <string>hook-cy.glif</string>
    <key>hook-cy.case</key>
    <string>hook-cy.case.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>twothirds</key>
    <string>twothirds.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u-cy</key>
    <string>u-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>verticalbar-cy</key>
    <string>verticalbar-cy.glif</string>
    <key>verticalbar-cy.case</key>
    <string>verticalbar-cy.case.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
