<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>54C985CE-5C78-49BC-908C-39F7C12C4FDB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
