<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>el-cy</key>
		<string>el-cy.glif</string>
		<key>hardsign-cy.loclBGR</key>
		<string>hardsign-cy.loclB_G_R_.glif</string>
		<key>softsign-cy.loclBGR</key>
		<string>softsign-cy.loclB_G_R_.glif</string>
	</dict>
</plist>
