<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>1,0,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>B9BDD37F-826B-460A-B688-9E7776C8A817</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy.loclBGR</key>
			<integer>2</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
