<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EE34ED6E-877B-4686-BCBD-E75FF018589B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
