<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>uni01C4</key>
		<string>uni01C_4.glif</string>
		<key>uni01C5</key>
		<string>uni01C_5.glif</string>
		<key>uni01C6</key>
		<string>uni01C_6.glif</string>
	</dict>
</plist>
