<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>47C78CF1-926E-4C6B-86F3-B9F2969201AC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
