.fontship
Raleway-*.tar.xz
Raleway-*.tar.zip
*.otf
*.ttf
.DS_Store
references/*
*(Autosaved)*
tags
*.woff
*.woff2
Raleway-*
!*/Raleway-*
sources/*(Autosaved).glyphs
sources/*_backups
sources/*.glyphs
sources/*.sfd
