<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0.5,1,0,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>4FF4B317-AE15-4332-86A9-D3B43C319CEE</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.Haabkhasian-cy</key>
			<integer>4</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.haabkhasian-cy</key>
			<integer>7</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
