<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 8 16, 02:36</string>
      <string>glyphs.N_ov 8 16, 02_36</string>
    </array>
    <array>
      <string>Nov 8 16, 02:43</string>
      <string>glyphs.N_ov 8 16, 02_43</string>
    </array>
    <array>
      <string>Nov 8 16, 02:45</string>
      <string>glyphs.N_ov 8 16, 02_45</string>
    </array>
    <array>
      <string>Nov 8 16, 02:45.background</string>
      <string>glyphs.N_ov 8 16, 02_45.background</string>
    </array>
    <array>
      <string>old</string>
      <string>glyphs.old</string>
    </array>
    <array>
      <string>old.background</string>
      <string>glyphs.old.background</string>
    </array>
    <array>
      <string>Dec 8 16, 17:14</string>
      <string>glyphs.D_ec 8 16, 17_14</string>
    </array>
    <array>
      <string>Dec 8 16, 17:14.background</string>
      <string>glyphs.D_ec 8 16, 17_14.background</string>
    </array>
    <array>
      <string>Bold Aug 6 16, 17:15</string>
      <string>glyphs.B_old A_ug 6 16, 17_15</string>
    </array>
    <array>
      <string>Dec 5 16, 12:45</string>
      <string>glyphs.D_ec 5 16, 12_45</string>
    </array>
    <array>
      <string>Dec 5 16, 12:45.background</string>
      <string>glyphs.D_ec 5 16, 12_45.background</string>
    </array>
    <array>
      <string>Dec 5 16, 13:39</string>
      <string>glyphs.D_ec 5 16, 13_39</string>
    </array>
    <array>
      <string>Dec 5 16, 13:39.background</string>
      <string>glyphs.D_ec 5 16, 13_39.background</string>
    </array>
    <array>
      <string>Bold]160[</string>
      <string>glyphs.B_old_160_</string>
    </array>
    <array>
      <string>Bold]160[.background</string>
      <string>glyphs.B_old_160_.background</string>
    </array>
    <array>
      <string>Bold Aug 6 16, 21:19</string>
      <string>glyphs.B_old A_ug 6 16, 21_19</string>
    </array>
    <array>
      <string>Bold Aug 6 16, 22:26</string>
      <string>glyphs.B_old A_ug 6 16, 22_26</string>
    </array>
    <array>
      <string>Bold Aug 6 16, 21:57</string>
      <string>glyphs.B_old A_ug 6 16, 21_57</string>
    </array>
    <array>
      <string>monoline</string>
      <string>glyphs.monoline</string>
    </array>
    <array>
      <string>monoline.background</string>
      <string>glyphs.monoline.background</string>
    </array>
    <array>
      <string>Nov 8 16, 02:50</string>
      <string>glyphs.N_ov 8 16, 02_50</string>
    </array>
    <array>
      <string>Nov 8 16, 03:00</string>
      <string>glyphs.N_ov 8 16, 03_00</string>
    </array>
    <array>
      <string>Nov 8 16, 03:00.background</string>
      <string>glyphs.N_ov 8 16, 03_00.background</string>
    </array>
    <array>
      <string>Nov 8 16, 03:04</string>
      <string>glyphs.N_ov 8 16, 03_04</string>
    </array>
    <array>
      <string>Nov 8 16, 03:04.background</string>
      <string>glyphs.N_ov 8 16, 03_04.background</string>
    </array>
    <array>
      <string>Bold Aug 22 16, 19:39</string>
      <string>glyphs.B_old A_ug 22 16, 19_39</string>
    </array>
    <array>
      <string>Bold Aug 22 16, 19:39.background</string>
      <string>glyphs.B_old A_ug 22 16, 19_39.background</string>
    </array>
  </array>
</plist>
