<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>984FF4E3-68D8-416B-BBD4-1F8BD2EA952E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
