<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>613E90A3-E884-41A3-B457-98301107CD0E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
