<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>90BF44CB-F507-4D76-90EC-884700749D0C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W.ss09</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
