<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FE20409D-401D-42B9-A35C-D0D89677B0BA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
