<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F573AA91-70BF-4D8C-AD8E-B85D95247FE2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tse-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
