<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7B82CCEC-4CA4-4413-B4BC-639003486BE0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.es-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
