<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Be-cy</key>
		<string>B_e-cy.glif</string>
		<key>Che-cy</key>
		<string>C_he-cy.glif</string>
		<key>De-cy</key>
		<string>D_e-cy.glif</string>
		<key>Dje-cy</key>
		<string>D_je-cy.glif</string>
		<key>E-cy</key>
		<string>E_-cy.glif</string>
		<key>Ef-cy</key>
		<string>E_f-cy.glif</string>
		<key>El-cy</key>
		<string>E_l-cy.glif</string>
		<key>Ereversed-cy</key>
		<string>E_reversed-cy.glif</string>
		<key>Hardsign-cy</key>
		<string>H_ardsign-cy.glif</string>
		<key>Ia-cy</key>
		<string>I_a-cy.glif</string>
		<key>Ii-cy</key>
		<string>I_i-cy.glif</string>
		<key>Iu-cy</key>
		<string>I_u-cy.glif</string>
		<key>Ka-cy</key>
		<string>K_a-cy.glif</string>
		<key>Lje-cy</key>
		<string>L_je-cy.glif</string>
		<key>Nje-cy</key>
		<string>N_je-cy.glif</string>
		<key>Softsign-cy</key>
		<string>S_oftsign-cy.glif</string>
		<key>Tse-cy</key>
		<string>T_se-cy.glif</string>
		<key>Tshe-cy</key>
		<string>T_she-cy.glif</string>
		<key>U-cy</key>
		<string>U_-cy.glif</string>
		<key>Yeru-cy</key>
		<string>Y_eru-cy.glif</string>
		<key>Ze-cy</key>
		<string>Z_e-cy.glif</string>
		<key>Zhe-cy</key>
		<string>Z_he-cy.glif</string>
		<key>be-cy</key>
		<string>be-cy.glif</string>
		<key>che-cy</key>
		<string>che-cy.glif</string>
		<key>de-cy</key>
		<string>de-cy.glif</string>
		<key>dje-cy</key>
		<string>dje-cy.glif</string>
		<key>e-cy</key>
		<string>e-cy.glif</string>
		<key>ef-cy</key>
		<string>ef-cy.glif</string>
		<key>el-cy</key>
		<string>el-cy.glif</string>
		<key>em-cy</key>
		<string>em-cy.glif</string>
		<key>ereversed-cy</key>
		<string>ereversed-cy.glif</string>
		<key>ia-cy</key>
		<string>ia-cy.glif</string>
		<key>ii-cy</key>
		<string>ii-cy.glif</string>
		<key>iishort-cy</key>
		<string>iishort-cy.glif</string>
		<key>iu-cy</key>
		<string>iu-cy.glif</string>
		<key>ka-cy</key>
		<string>ka-cy.glif</string>
		<key>lje-cy</key>
		<string>lje-cy.glif</string>
		<key>nje-cy</key>
		<string>nje-cy.glif</string>
		<key>shcha-cy</key>
		<string>shcha-cy.glif</string>
		<key>tshe-cy</key>
		<string>tshe-cy.glif</string>
		<key>ve-cy</key>
		<string>ve-cy.glif</string>
		<key>ze-cy</key>
		<string>ze-cy.glif</string>
		<key>zhe-cy</key>
		<string>zhe-cy.glif</string>
		<key>zhe-cy.loclBGR</key>
		<string>zhe-cy.loclB_G_R_.glif</string>
	</dict>
</plist>
