<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B8B4332-169F-43D5-A1C4-C52B27E0618F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yat-cy</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
