<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>A</string>
		<string>A.sc</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>acute</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>breve</string>
		<string>Acircumflex</string>
		<string>circumflex</string>
		<string>Adieresis</string>
		<string>dieresis</string>
		<string>Agrave</string>
		<string>grave</string>
		<string>Amacron</string>
		<string>macron</string>
		<string>Aogonek</string>
		<string>ogonek</string>
		<string>Aring</string>
		<string>ring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>tilde</string>
		<string>B</string>
		<string>B.sc</string>
		<string>C</string>
		<string>C.sc</string>
		<string>CR</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>caron</string>
		<string>Ccedilla</string>
		<string>cedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>dotaccent</string>
		<string>D</string>
		<string>D.sc</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>E.sc</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>Etilde</string>
		<string>Euro</string>
		<string>F</string>
		<string>F.sc</string>
		<string>G</string>
		<string>G.alt</string>
		<string>G.sc</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>commaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>H.sc</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>I.sc</string>
		<string>IJ</string>
		<string>J</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J.sc</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>K.sc</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>L.sc</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>periodcentered</string>
		<string>Lslash</string>
		<string>M</string>
		<string>M.sc</string>
		<string>N</string>
		<string>N.sc</string>
		<string>NULL</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>O.sc</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>hungarumlaut</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>slash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>P</string>
		<string>P.sc</string>
		<string>Q</string>
		<string>Q.sc</string>
		<string>R</string>
		<string>R.sc</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>S.sc</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scircumflex</string>
		<string>T</string>
		<string>T.sc</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Thorn</string>
		<string>U</string>
		<string>U.sc</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>V.sc</string>
		<string>W</string>
		<string>W.alt</string>
		<string>W.sc</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>X.sc</string>
		<string>Y</string>
		<string>Y.sc</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Z.sc</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>a.alt</string>
		<string>a.alt2</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>ampersand</string>
		<string>aogonek</string>
		<string>apostrophe</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>asterisk</string>
		<string>at</string>
		<string>atilde</string>
		<string>b</string>
		<string>backslash</string>
		<string>bar</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>c</string>
		<string>c_t</string>
		<string>cacute</string>
		<string>caron.alt</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cent</string>
		<string>colon</string>
		<string>comma</string>
		<string>copyright</string>
		<string>d</string>
		<string>d.alt</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>degree</string>
		<string>divide</string>
		<string>dollar</string>
		<string>dotlessi</string>
		<string>dotlessj</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eight</string>
		<string>eight.lnum</string>
		<string>eightinferior</string>
		<string>eightsuperior</string>
		<string>ellipsis</string>
		<string>emacron</string>
		<string>emdash</string>
		<string>endash</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>equal</string>
		<string>eth</string>
		<string>etilde</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>f</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>five</string>
		<string>five.lnum</string>
		<string>fiveeighths</string>
		<string>fivesuperior</string>
		<string>fraction</string>
		<string>fiveinferior</string>
		<string>florin</string>
		<string>four</string>
		<string>four.lnum</string>
		<string>fourinferior</string>
		<string>foursuperior</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>germandbls</string>
		<string>greater</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hyphen</string>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>j</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j.alt</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>l.alt</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>lslash</string>
		<string>m</string>
		<string>minus</string>
		<string>mu</string>
		<string>multiply</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>nine</string>
		<string>nine.lnum</string>
		<string>nineinferior</string>
		<string>ninesuperior</string>
		<string>ntilde</string>
		<string>numbersign</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>one</string>
		<string>one.lnum</string>
		<string>oneeighth</string>
		<string>onesuperior</string>
		<string>onehalf</string>
		<string>twoinferior</string>
		<string>oneinferior</string>
		<string>onequarter</string>
		<string>onethird</string>
		<string>threeinferior</string>
		<string>oogonek</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>p</string>
		<string>paragraph</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>q</string>
		<string>q.alt</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>registered</string>
		<string>s</string>
		<string>s_t</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>schwa</string>
		<string>scircumflex</string>
		<string>section</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>seven.lnum</string>
		<string>seveneighths</string>
		<string>sevensuperior</string>
		<string>seveninferior</string>
		<string>six</string>
		<string>six.lnum</string>
		<string>sixinferior</string>
		<string>sixsuperior</string>
		<string>space</string>
		<string>sterling</string>
		<string>t</string>
		<string>t.alt</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>thorn</string>
		<string>three</string>
		<string>three.lnum</string>
		<string>threeeighths</string>
		<string>threesuperior</string>
		<string>threequarters</string>
		<string>trademark</string>
		<string>two</string>
		<string>two.lnum</string>
		<string>twosuperior</string>
		<string>twothirds</string>
		<string>u</string>
		<string>u.alt</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>underscore</string>
		<string>uni00A0</string>
		<string>uni00AD</string>
		<string>uni015E</string>
		<string>uni015F</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>uni03BC</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>w.alt</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>y.alt</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>yen</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zero</string>
		<string>zero.lnum</string>
		<string>zeroinferior</string>
		<string>zerosuperior</string>
		<string>emspace</string>
		<string>enspace</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni02C9</string>
		<string>dotbelow</string>
		<string>currency</string>
		<string>colonmonetary</string>
		<string>uni20A9</string>
		<string>franc</string>
		<string>uni20A6</string>
		<string>lira</string>
		<string>uni20B9</string>
		<string>servicemark</string>
		<string>Schwa</string>
		<string>uni01F1</string>
		<string>uni01F2</string>
		<string>uni01F3</string>
		<string>uni01C7</string>
		<string>uni01C8</string>
		<string>uni01C9</string>
		<string>uni01CA</string>
		<string>uni01CB</string>
		<string>uni01CC</string>
		<string>uni01C4</string>
		<string>uni01C5</string>
		<string>uni01C6</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>Adblgrave</string>
		<string>Ainvertedbreve</string>
		<string>Ddotbelow</string>
		<string>Edotbelow</string>
		<string>Edblgrave</string>
		<string>Einvertedbreve</string>
		<string>Gacute</string>
		<string>Hdotbelow</string>
		<string>Idotbelow</string>
		<string>Idblgrave</string>
		<string>Iinvertedbreve</string>
		<string>Odotbelow</string>
		<string>Odblgrave</string>
		<string>Oinvertedbreve</string>
		<string>Rdotbelow</string>
		<string>Rdblgrave</string>
		<string>Rinvertedbreve</string>
		<string>Sdotbelow</string>
		<string>Tdotbelow</string>
		<string>Udotbelow</string>
		<string>Udblgrave</string>
		<string>Uinvertedbreve</string>
		<string>Zdotbelow</string>
		<string>zero.denominator</string>
		<string>one.denominator</string>
		<string>two.denominator</string>
		<string>three.denominator</string>
		<string>four.denominator</string>
		<string>five.denominator</string>
		<string>six.denominator</string>
		<string>seven.denominator</string>
		<string>eight.denominator</string>
		<string>nine.denominator</string>
		<string>zero.numerator</string>
		<string>one.numerator</string>
		<string>two.numerator</string>
		<string>three.numerator</string>
		<string>four.numerator</string>
		<string>five.numerator</string>
		<string>six.numerator</string>
		<string>seven.numerator</string>
		<string>eight.numerator</string>
		<string>nine.numerator</string>
		<string>adblgrave</string>
		<string>ainvertedbreve</string>
		<string>ddotbelow</string>
		<string>edotbelow</string>
		<string>edblgrave</string>
		<string>einvertedbreve</string>
		<string>gacute</string>
		<string>hdotbelow</string>
		<string>idotbelow</string>
		<string>idblgrave</string>
		<string>iinvertedbreve</string>
		<string>odotbelow</string>
		<string>odblgrave</string>
		<string>oinvertedbreve</string>
		<string>rdotbelow</string>
		<string>rdblgrave</string>
		<string>rinvertedbreve</string>
		<string>sdotbelow</string>
		<string>tdotbelow</string>
		<string>udotbelow</string>
		<string>udblgrave</string>
		<string>uinvertedbreve</string>
		<string>zdotbelow</string>
		<string>Omega</string>
		<string>uni03A9</string>
		<string>partialdiff</string>
		<string>Delta</string>
		<string>uni0394</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>lozenge</string>
		<string>pi</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>afii61352</string>
	</array>
</dict>
</plist>
