<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>1,0,0.75,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>8B1F55FB-89AD-4F68-BA63-A1B057A06098</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
			<integer>4</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
