<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>Abreve-cy</string>
      <string>Adieresis-cy</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>Ve-cy</string>
      <string>Ze-cy</string>
      <string>Zedescender-cy</string>
      <string>Zedieresis-cy</string>
      <string>Zedescender-cy.loclBSH</string>
    </array>
    <key>public.kern1.Be-cy</key>
    <array>
      <string>Be-cy</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Es-cy</string>
      <string>E-cy</string>
      <string>Esdescender-cy</string>
      <string>Esdescender-cy.loclBSH</string>
      <string>Esdescender-cy.loclCHU</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
    </array>
    <key>public.kern1.De-cy.loclBGR</key>
    <array>
      <string>De-cy.loclBGR</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Aie-cy</string>
      <string>Iebreve-cy</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>Ghestroke-cy.loclBSH</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.Ge-cy</key>
    <array>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Gheupturn-cy</string>
      <string>Ghestroke-cy</string>
      <string>Enghe-cy</string>
      <string>Gedescender-cy</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>El-cy</string>
      <string>Pe-cy</string>
      <string>Che-cy</string>
      <string>Sha-cy</string>
      <string>Dzhe-cy</string>
      <string>Yeru-cy</string>
      <string>Ia-cy</string>
      <string>Pedescender-cy</string>
      <string>Chedescender-cy</string>
      <string>Cheverticalstroke-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Imacron-cy</string>
      <string>Idieresis-cy</string>
      <string>Chedieresis-cy</string>
      <string>Yerudieresis-cy</string>
      <string>El-cy.loclBGR</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>Em-cy</string>
      <string>En-cy</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
      <string>Endescender-cy</string>
      <string>Palochka-cy</string>
    </array>
    <key>public.kern1.I.sc</key>
    <array>
      <string>h.sc</string>
      <string>i.sc</string>
      <string>m.sc</string>
      <string>n.sc</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>Je-cy</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>Zhe-cy</string>
      <string>Ka-cy</string>
      <string>Kje-cy</string>
      <string>Kaverticalstroke-cy</string>
      <string>Kabashkir-cy</string>
      <string>Zhebreve-cy</string>
      <string>Zhedieresis-cy</string>
    </array>
    <key>public.kern1.Kadescender-cy</key>
    <array>
      <string>Zhedescender-cy</string>
      <string>Kadescender-cy</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Schwa</string>
      <string>O-cy</string>
      <string>Ef-cy</string>
      <string>Ereversed-cy</string>
      <string>Iu-cy</string>
      <string>Schwa-cy</string>
      <string>Odieresis-cy</string>
      <string>Obarred-cy</string>
      <string>Qa-cy</string>
      <string>Ef-cy.loclBGR</string>
    </array>
    <key>public.kern1.O.sc</key>
    <array>
      <string>o.sc</string>
      <string>q.sc</string>
    </array>
    <key>public.kern1.Obarred-cy</key>
    <array>
      <string>Fita-cy</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>Er-cy</string>
      <string>ruble</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdotbelow</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Dze-cy</string>
    </array>
    <key>public.kern1.Softsign-cy</key>
    <array>
      <string>Softsign-cy</string>
      <string>Hardsign-cy</string>
      <string>Lje-cy</string>
      <string>Nje-cy</string>
      <string>Yat-cy</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Te-cy</string>
    </array>
    <key>public.kern1.Tse-cy</key>
    <array>
      <string>De-cy</string>
      <string>Tse-cy</string>
      <string>Shcha-cy</string>
    </array>
    <key>public.kern1.Tshe-cy</key>
    <array>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
      <string>Ghemiddlehook-cy</string>
      <string>Shha-cy</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>Ushort-cy</string>
      <string>Umacron-cy</string>
      <string>Udieresis-cy</string>
      <string>Uhungarumlaut-cy</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>Izhitsa-cy</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>We-cy</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>Ha-cy</string>
      <string>Yusbig-cy</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>Ustrait-cy</string>
      <string>Ustraitstroke-cy</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>a-cy</string>
      <string>abreve-cy</string>
      <string>adieresis-cy</string>
    </array>
    <key>public.kern1.a.alt</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>q</string>
      <string>a.ss01</string>
      <string>q.ss06</string>
      <string>u.ss08</string>
      <string>qa-cy</string>
      <string>de-cy.loclBGR</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
      <string>er-cy</string>
    </array>
    <key>public.kern1.be-cy.loclSRB</key>
    <array>
      <string>be-cy.loclSRB</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>es-cy</string>
      <string>e-cy</string>
      <string>esdescender-cy</string>
      <string>esdescender-cy.loclBSH</string>
      <string>esdescender-cy.loclCHU</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
      <string>aie-cy</string>
      <string>iebreve-cy</string>
    </array>
    <key>public.kern1.el-cy</key>
    <array>
      <string>el-cy</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.ge-cy</key>
    <array>
      <string>ge-cy</string>
      <string>gje-cy</string>
      <string>gheupturn-cy</string>
      <string>ghestroke-cy</string>
      <string>enghe-cy</string>
      <string>gedescender-cy</string>
      <string>ghestroke-cy.loclBSH</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>tshe-cy</string>
      <string>dje-cy</string>
      <string>shha-cy</string>
    </array>
    <key>public.kern1.hryvnia</key>
    <array>
      <string>hryvnia</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>j.ss04</string>
      <string>f_f_i</string>
      <string>fi</string>
      <string>i-cy</string>
      <string>yi-cy</string>
      <string>je-cy</string>
      <string>palochka-cy</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>ka-cy</string>
      <string>kje-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>kabashkir-cy</string>
      <string>ka-cy.loclBGR</string>
    </array>
    <key>public.kern1.kadescender-cy</key>
    <array>
      <string>zhedescender-cy</string>
      <string>kadescender-cy</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
      <string>f_f_l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.midddehook-cy</key>
    <array>
      <string>ghemiddlehook-cy</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>en-cy</string>
      <string>endescender-cy</string>
      <string>pe-cy.loclBGR</string>
      <string>te-cy.loclBGR</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>be-cy</string>
      <string>o-cy</string>
      <string>ef-cy</string>
      <string>ereversed-cy</string>
      <string>iu-cy</string>
      <string>schwa-cy</string>
      <string>odieresis-cy</string>
      <string>obarred-cy</string>
      <string>iu-cy.loclBGR</string>
    </array>
    <key>public.kern1.obarred-cy</key>
    <array>
      <string>fita-cy</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdotbelow</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>dze-cy</string>
    </array>
    <key>public.kern1.softsign-cy</key>
    <array>
      <string>softsign-cy</string>
      <string>hardsign-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>yat-cy</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
      <string>c_t</string>
      <string>s_t</string>
    </array>
    <key>public.kern1.te-cy</key>
    <array>
      <string>te-cy</string>
    </array>
    <key>public.kern1.tenge</key>
    <array>
      <string>tenge</string>
    </array>
    <key>public.kern1.tse-cy</key>
    <array>
      <string>de-cy</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
    </array>
    <key>public.kern1.tugrik</key>
    <array>
      <string>tugrik</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>em-cy</string>
      <string>pe-cy</string>
      <string>che-cy</string>
      <string>sha-cy</string>
      <string>dzhe-cy</string>
      <string>yeru-cy</string>
      <string>ia-cy</string>
      <string>pedescender-cy</string>
      <string>chedescender-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>chekhakassian-cy</string>
      <string>imacron-cy</string>
      <string>idieresis-cy</string>
      <string>chedieresis-cy</string>
      <string>yerudieresis-cy</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>izhitsa-cy</string>
      <string>ustrait-cy</string>
      <string>ustraitstroke-cy</string>
    </array>
    <key>public.kern1.ve-cy</key>
    <array>
      <string>ve-cy</string>
      <string>ze-cy</string>
      <string>zedescender-cy</string>
      <string>zedieresis-cy</string>
      <string>zedescender-cy.loclBSH</string>
    </array>
    <key>public.kern1.ve-cy.loclBGR</key>
    <array>
      <string>ve-cy.loclBGR</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>we-cy</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>zhe-cy</string>
      <string>ha-cy</string>
      <string>yusbig-cy</string>
      <string>zhebreve-cy</string>
      <string>zhedieresis-cy</string>
      <string>zhe-cy.loclBGR</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
      <string>u-cy</string>
      <string>ushort-cy</string>
      <string>umacron-cy</string>
      <string>udieresis-cy</string>
      <string>uhungarumlaut-cy</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern1.ze-cy.loclBGR</key>
    <array>
      <string>ze-cy.loclBGR</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>Abreve-cy</string>
      <string>Adieresis-cy</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>Aie-cy</string>
    </array>
    <key>public.kern2.Che-cy</key>
    <array>
      <string>Che-cy</string>
      <string>Chedescender-cy</string>
      <string>Cheverticalstroke-cy</string>
      <string>Chekhakassian-cy</string>
      <string>Chedieresis-cy</string>
    </array>
    <key>public.kern2.De-cy</key>
    <array>
      <string>De-cy</string>
    </array>
    <key>public.kern2.De-cy.loclBGR</key>
    <array>
      <string>De-cy.loclBGR</string>
    </array>
    <key>public.kern2.El-cy</key>
    <array>
      <string>El-cy</string>
      <string>Lje-cy</string>
      <string>El-cy.loclBGR</string>
    </array>
    <key>public.kern2.Ereversed-cy</key>
    <array>
      <string>Ereversed-cy</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>Be-cy</string>
      <string>Ge-cy</string>
      <string>Gje-cy</string>
      <string>Gheupturn-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Iigrave-cy</string>
      <string>Ka-cy</string>
      <string>Kje-cy</string>
      <string>Pe-cy</string>
      <string>Tse-cy</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Dzhe-cy</string>
      <string>Softsign-cy</string>
      <string>Yeru-cy</string>
      <string>Nje-cy</string>
      <string>Iu-cy</string>
      <string>Yat-cy</string>
      <string>Ghestroke-cy</string>
      <string>Ghemiddlehook-cy</string>
      <string>Kadescender-cy</string>
      <string>Kaverticalstroke-cy</string>
      <string>Enghe-cy</string>
      <string>Pedescender-cy</string>
      <string>Shha-cy</string>
      <string>Imacron-cy</string>
      <string>Idieresis-cy</string>
      <string>Gedescender-cy</string>
      <string>Yerudieresis-cy</string>
    </array>
    <key>public.kern2.Hbar</key>
    <array>
      <string>ruble</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdotbelow</string>
      <string>Ve-cy</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Em-cy</string>
      <string>En-cy</string>
      <string>Er-cy</string>
      <string>I-cy</string>
      <string>Yi-cy</string>
      <string>Endescender-cy</string>
      <string>Palochka-cy</string>
      <string>Iebreve-cy</string>
      <string>Ghestroke-cy.loclBSH</string>
    </array>
    <key>public.kern2.I.sc</key>
    <array>
      <string>b.sc</string>
      <string>d.sc</string>
      <string>e.sc</string>
      <string>f.sc</string>
      <string>h.sc</string>
      <string>i.sc</string>
      <string>k.sc</string>
      <string>l.sc</string>
      <string>m.sc</string>
      <string>n.sc</string>
      <string>p.sc</string>
      <string>r.sc</string>
    </array>
    <key>public.kern2.Ia-cy</key>
    <array>
      <string>Ia-cy</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>Je-cy</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>G.ss11</string>
      <string>O-cy</string>
      <string>Es-cy</string>
      <string>Ef-cy</string>
      <string>E-cy</string>
      <string>Esdescender-cy</string>
      <string>Odieresis-cy</string>
      <string>Obarred-cy</string>
      <string>Qa-cy</string>
      <string>Ef-cy.loclBGR</string>
      <string>Esdescender-cy.loclBSH</string>
      <string>Esdescender-cy.loclCHU</string>
    </array>
    <key>public.kern2.O.sc</key>
    <array>
      <string>c.sc</string>
      <string>g.sc</string>
      <string>o.sc</string>
      <string>q.sc</string>
    </array>
    <key>public.kern2.Obarred-cy</key>
    <array>
      <string>Fita-cy</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Dze-cy</string>
    </array>
    <key>public.kern2.Schwa</key>
    <array>
      <string>Schwa-cy</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Te-cy</string>
      <string>Hardsign-cy</string>
      <string>Tshe-cy</string>
      <string>Dje-cy</string>
      <string>Kabashkir-cy</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>U-cy</string>
      <string>Ushort-cy</string>
      <string>Umacron-cy</string>
      <string>Udieresis-cy</string>
      <string>Uhungarumlaut-cy</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>Izhitsa-cy</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>We-cy</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>Zhe-cy</string>
      <string>Ha-cy</string>
      <string>Yusbig-cy</string>
      <string>Zhedescender-cy</string>
      <string>Zhebreve-cy</string>
      <string>Zhedieresis-cy</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>Ustrait-cy</string>
      <string>Ustraitstroke-cy</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern2.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Zedescender-cy</string>
      <string>Zedieresis-cy</string>
      <string>Zedescender-cy.loclBSH</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>q</string>
      <string>a.ss01</string>
      <string>d.ss03</string>
      <string>q.ss06</string>
      <string>a-cy</string>
      <string>abreve-cy</string>
      <string>adieresis-cy</string>
      <string>aie-cy</string>
    </array>
    <key>public.kern2.a.alt2</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>a.ss02</string>
    </array>
    <key>public.kern2.be-cy</key>
    <array>
      <string>be-cy</string>
    </array>
    <key>public.kern2.che-cy</key>
    <array>
      <string>che-cy</string>
      <string>chedescender-cy</string>
      <string>cheverticalstroke-cy</string>
      <string>chekhakassian-cy</string>
      <string>chedieresis-cy</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>qa-cy</string>
      <string>de-cy.loclBGR</string>
    </array>
    <key>public.kern2.de-cy</key>
    <array>
      <string>de-cy</string>
    </array>
    <key>public.kern2.el-cy</key>
    <array>
      <string>el-cy</string>
      <string>lje-cy</string>
    </array>
    <key>public.kern2.ereversed-cy</key>
    <array>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>thorn</string>
      <string>germandbls</string>
      <string>tshe-cy</string>
      <string>dje-cy</string>
      <string>shha-cy</string>
      <string>ve-cy.loclBGR</string>
      <string>ka-cy.loclBGR</string>
      <string>iu-cy.loclBGR</string>
    </array>
    <key>public.kern2.hryvnia</key>
    <array>
      <string>hryvnia</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>j.ss04</string>
      <string>i-cy</string>
      <string>yi-cy</string>
      <string>je-cy</string>
      <string>palochka-cy</string>
    </array>
    <key>public.kern2.ia-cy</key>
    <array>
      <string>ia-cy</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdotbelow</string>
      <string>ve-cy</string>
      <string>ge-cy</string>
      <string>gje-cy</string>
      <string>gheupturn-cy</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>ka-cy</string>
      <string>kje-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>er-cy</string>
      <string>tse-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>dzhe-cy</string>
      <string>softsign-cy</string>
      <string>yeru-cy</string>
      <string>nje-cy</string>
      <string>iu-cy</string>
      <string>ghestroke-cy</string>
      <string>ghemiddlehook-cy</string>
      <string>kadescender-cy</string>
      <string>kaverticalstroke-cy</string>
      <string>endescender-cy</string>
      <string>enghe-cy</string>
      <string>pedescender-cy</string>
      <string>imacron-cy</string>
      <string>idieresis-cy</string>
      <string>gedescender-cy</string>
      <string>yerudieresis-cy</string>
      <string>pe-cy.loclBGR</string>
      <string>te-cy.loclBGR</string>
      <string>ghestroke-cy.loclBSH</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>c_t</string>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
      <string>o-cy</string>
      <string>es-cy</string>
      <string>ef-cy</string>
      <string>e-cy</string>
      <string>esdescender-cy</string>
      <string>iebreve-cy</string>
      <string>odieresis-cy</string>
      <string>obarred-cy</string>
      <string>esdescender-cy.loclBSH</string>
      <string>esdescender-cy.loclCHU</string>
      <string>be-cy.loclSRB</string>
    </array>
    <key>public.kern2.obarred-cy</key>
    <array>
      <string>fita-cy</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>s_t</string>
      <string>dze-cy</string>
    </array>
    <key>public.kern2.schwa</key>
    <array>
      <string>schwa-cy</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
    </array>
    <key>public.kern2.te-cy</key>
    <array>
      <string>te-cy</string>
      <string>hardsign-cy</string>
      <string>kabashkir-cy</string>
    </array>
    <key>public.kern2.tenge</key>
    <array>
      <string>tenge</string>
    </array>
    <key>public.kern2.tugrik</key>
    <array>
      <string>tugrik</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>u.ss08</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>izhitsa-cy</string>
      <string>ustrait-cy</string>
      <string>ustraitstroke-cy</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>we-cy</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>zhe-cy</string>
      <string>ha-cy</string>
      <string>yusbig-cy</string>
      <string>zhedescender-cy</string>
      <string>zhebreve-cy</string>
      <string>zhedieresis-cy</string>
      <string>zhe-cy.loclBGR</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
      <string>u-cy</string>
      <string>ushort-cy</string>
      <string>umacron-cy</string>
      <string>udieresis-cy</string>
      <string>uhungarumlaut-cy</string>
    </array>
    <key>public.kern2.yat-cy</key>
    <array>
      <string>yat-cy</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
    <key>public.kern2.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>zedescender-cy</string>
      <string>zedieresis-cy</string>
      <string>zedescender-cy.loclBSH</string>
    </array>
    <key>public.kern2.ze-cy.loclBGR</key>
    <array>
      <string>ze-cy.loclBGR</string>
    </array>
  </dict>
</plist>
