<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E35331E6-5314-4E9A-829E-8F198E00847B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
