<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>color</key>
		<string>0,1,0.25,0.7</string>
		<key>lib</key>
		<dict>
			<key>com.schriftgestaltung.layerId</key>
			<string>235C4169-54E2-4429-BFD7-B2D7078EAC1A</string>
			<key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
			<integer>3</integer>
			<key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
			<integer>2</integer>
			<key>org.unifiedfontobject.normalizer.imageReferences</key>
			<dict>
			</dict>
		</dict>
	</dict>
</plist>
