<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>14C373B7-985C-4F1B-9AE2-342F56D9C022</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.softsign-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
