<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni01C4</key>
    <string>uni01C_4.glif</string>
    <key>uni01C5</key>
    <string>uni01C_5.glif</string>
    <key>uni01C6</key>
    <string>uni01C_6.glif</string>
    <key>uni01C7</key>
    <string>uni01C_7.glif</string>
    <key>uni01C8</key>
    <string>uni01C_8.glif</string>
    <key>uni01C9</key>
    <string>uni01C_9.glif</string>
    <key>uni01CA</key>
    <string>uni01C_A_.glif</string>
    <key>uni01CB</key>
    <string>uni01C_B_.glif</string>
    <key>uni01CC</key>
    <string>uni01C_C_.glif</string>
    <key>uni01F1</key>
    <string>uni01F_1.glif</string>
    <key>uni01F2</key>
    <string>uni01F_2.glif</string>
    <key>uni01F3</key>
    <string>uni01F_3.glif</string>
    <key>uni0394</key>
    <string>uni0394.glif</string>
    <key>uni03A9</key>
    <string>uni03A_9.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
  </dict>
</plist>
