<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>Eldescender-cy</key>
    <string>E_ldescender-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>G.ss11</key>
    <string>G_.ss11.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kastroke-cy</key>
    <string>K_astroke-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Obarred-cy</key>
    <string>O_barred-cy.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Reversedze-cy.001</key>
    <string>R_eversedze-cy.001.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.ss09</key>
    <string>W_.ss09.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hook-cy</key>
    <string>hook-cy.glif</string>
    <key>hook-cy.case</key>
    <string>hook-cy.case.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>twothirds</key>
    <string>twothirds.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>verticalbar-cy.case</key>
    <string>verticalbar-cy.case.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.ss09</key>
    <string>w.ss09.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.ss10</key>
    <string>y.ss10.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
