<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A357A99D-CD7F-4054-ADC4-9039CC1BA9C0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Be-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Che-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.De-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ef-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.El-cy</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ereversed-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hardsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ia-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ii-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iu-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ka-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Softsign-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tse-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tshe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yeru-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ze-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Zhe-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.be-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.che-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.de-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ef-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.el-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.em-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ereversed-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ia-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ii-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iishort-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iu-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ka-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nje-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shcha-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tshe-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-cy</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ze-cy</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhe-cy.loclBGR</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
