<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D1B529DD-FF1B-4914-A259-ED7696063D04</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dje-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
