<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>86F072F3-88E1-4AC8-8001-D5529B1B10D0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ge-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
