<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_Aacute</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Agrave</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E'</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z'</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i'</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n'</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_p</key>
	<array>
		<string>p'</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>y.alt</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z'</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>a.alt</string>
		<string>a.alt2</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_R_e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i'</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>n'</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p'</string>
		<string>thorn</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>y.alt</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z'</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
